<!-- admin.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WG Darts Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Additional styles specific to the admin page can be added here -->
</head>
<body>
    <h1>WG Darts Admin</h1>

    <!-- Form to Add a New Player (moved to admin page) -->
    <h2>Add New Player</h2>
    <form action="{{ url_for('add_player') }}" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Player Name" required>
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="Add Player">
    </form>

    <h2>Reupload Photo</h2>
    <form id="reupload_photo_form" action="{{ url_for('reupload_photo') }}" method="post" enctype="multipart/form-data">
        <label for="player_id">Select Player:</label>
        <select name="player_id" id="player_id" required>
            {% for player in player_list %}
                <option value="{{ player.id }}">{{ player.name }}</option>
            {% endfor %}
        </select>

        <!-- Hidden input to store the selected player ID -->
        <input type="hidden" name="selected_player_id" id="selected_player_id" value="">
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="Reupload Photo">
    </form>
</body>
</html>
