<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
         body {
            background-color: #2c3e50; /* Darker background color matching graph's background */
            color: #fff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
    <script>

        function onSubmit() {
            // Get values from the selects and perform your desired actions
            {% for player in players %}
                var finishOrder{{ player.id }} = document.getElementById('finish-order-{{ player.id }}').value;
                // Perform actions with the value, for example, log it
                console.log('{{ player.name }} finished: ' + finishOrder{{ player.id }});
            {% endfor %}

            // Optionally, prevent the form from submitting (useful if you want to handle submission with AJAX)
            // return false;
        }
    </script>
</head>
<body>
    <h1>Game On!</h1>
    <div class="game-container">
        {% for player in players %}
            <div class="player-card">
                <img src="{{ url_for('static', filename='uploads/' + player.img_path) }}" alt="{{ player.name }}" class="player-image">
                <h3 class="player-name">{{ player.name }}</h3>
                <h3 class="player-rating">{{ player.rating }}</h3>
            </div>
            {% if not loop.last %}
                <img src="{{ url_for('static', filename='uploads/vs.png') }}" alt="VS" class="versus-image">
            {% endif %}
        {% endfor %}
    </div>

    <form action="{{ url_for('record_results') }}" method="post" onsubmit="onSubmit()">
        <h3>Game Results</h3>
        {% for player in players %}
            <label for="finish-order-{{ player.id }}">{{ player.name }} finished:</label>
            <select name="finish_order_{{ player.id }}" id="finish-order-{{ player.id }}">
                {% for i in range(1, players|length + 1) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        {% endfor %}
        <button type="submit">Submit Results</button>
    </form>
</body>
</html>
