<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WG Darts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .selected {
            border: 20px solid #3498db; /* Change border color to indicate selection */
            background-color: #ecf0f1; /* Change background color to indicate selection */
        }

        #start-game-button {
            margin-top: 50px; /* Add some top margin for spacing */
            font-size: 20px; /* Adjust the font size to make it bigger */
            padding: 10px 20px; /* Add padding for better visual appearance */
        }
    </style>
    <script>
        var selectedPlayers = {};

        function toggleSelection(playerId) {
            var card = document.getElementById('player-card-' + playerId);
            if (selectedPlayers[playerId]) {
                delete selectedPlayers[playerId];
                card.classList.remove('selected');
            } else {
                selectedPlayers[playerId] = true;
                card.classList.add('selected');
            }
            // Call the function to update the form inputs
            updateFormInputs();
        }

        function updateFormInputs() {
        var form = document.getElementById('start-game-form');
        // Clear any previous inputs
        form.innerHTML = '';

        Object.keys(selectedPlayers).forEach(function (id) {
            var input = document.createElement('input');
            input.type = 'hidden';
            input.value = id;
            form.appendChild(input);
        });
        }


        function startGame() {
            var selectedPlayerIds = Object.keys(selectedPlayers);
            if (selectedPlayerIds.length < 2) {
                alert('Please select at least two players to start the game.');
                return false;
            }

            var form = document.getElementById('start-game-form');
            // Clear any previous inputs
            form.innerHTML = '';

            selectedPlayerIds.forEach(function(id) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'selected_players';
                input.value = id;
                form.appendChild(input);
            });

            form.submit();
        }

    </script>
    <script>
        function toggleGuestPlayers() {
            var checkbox = document.getElementById('show-guest-players');
            var elementToToggle = document.getElementById('player-container-all');

            // Check the state of the checkbox
            if (checkbox.checked) {
                elementToToggle.style.display = 'block'; // Show the element
            } else {
                elementToToggle.style.display = 'none'; // Hide the element
            }
        }
    </script>
</head>
<body>
    <h1>WG Darts</h1>

    <!-- Players List -->
    <h2>Players List</h2>
    <div class="player-container" id="player-container-all">
        <!-- "wg" players -->
        {% for player in players_wg %}
            <div class="player-card" id="player-card-{{ player.id }}" onclick="toggleSelection('{{ player.id }}')">
                <img src="static/uploads/{{ player.img_path }}" alt="Player Image" class="player-image">
                <h3 class="player-name">{{ player.name }}</h3>
                <h3 class="player-rating">{{ player.rounded_rating }}</h3>

                <!-- Button to go to player statistics -->
                <form action="{{ url_for('player_statistics', player_id=player.id) }}" method="get">
                    <button type="submit">View Statistics</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <!-- Form to Start Game -->
    <form id="start-game-form" action="{{ url_for('start_game') }}" method="post">
        {% for player in players_wg %}
            <input type="hidden">
        {% endfor %}
    </form>

    <!-- "Start Game" button at the bottom of the page -->
    <div style="margin-top: 20px;"></div>
    <button id="start-game-button" type="button" onclick="startGame()">Start Game</button>

    <!-- Single checkbox to show/hide all guest players -->
    <div style="margin-top: 20px;">
        <label>
            <input type="checkbox" id="show-guest-players" onchange="toggleGuestPlayers()">
            Show Guest Players
        </label>
    </div>

    <!-- Link to the Admin Page -->
    <div style="margin-top: 20px;"></div>
    <button onclick="window.location.href='{{ url_for('admin_page') }}'">Go to Admin Page</button>
</body>
</html>
