<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Player Statistics</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            background-color: #2c3e50; /* Darker background color matching graph's background */
            color: #fff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }
        #rating-history-plot {
            margin-top: 20px;
        }
        h1, p, a {
            color: #fff;
        }
    </style>
    <!-- Add any additional styles or scripts as needed -->
</head>
<body>
    <h1>Player Statistics</h1>
    <div class="game-container">

        <!-- Add more content to display specific player statistics -->
        <!-- For example: -->
        <!-- <p>Player Name: {{ player_name }}</p> -->
        <!-- <p>Player Score: {{ player_score }}</p> -->
        <!-- <p>Other Stats: {{ other_stats }}</p> -->

        <!-- Plot the player's rating history -->
        <div id="rating-history-plot"></div>

        <a href="{{ url_for('index') }}" style="color: #fff;">Back to Home</a>
        <!-- You might want to provide a link to navigate back to the home page or another relevant page -->
    </div>

    <!-- Add script to plot the rating history -->
    <script>
        // Extract the player's rating history from the ratings_history variable
        var playerRatingHistory = {{ ratings_history | tojson }};

        // Limit the displayed games to the last 30
        var startIndex = Math.max(0, playerRatingHistory.length - 30);
        var limitedRatingHistory = playerRatingHistory.slice(startIndex);

        // Create a simple line plot using Plotly
        var trace = {
            x: Array.from({ length: limitedRatingHistory.length }, (_, i) => startIndex + i),
            y: limitedRatingHistory,
            type: 'line',
            mode: 'lines+markers',
            marker: {color: '#fff'}, // Blue color
        };

        var layout = {
            title: {
                text: "{{ player.name }}",
                font: {
                    family: 'Arial, sans-serif',
                    size: 24, // Adjust the font size as needed
                    color: '#fff',
                    weight: 'bold',
                },
            },
            xaxis: {title: 'Game Number', color: '#fff'},
            yaxis: {title: 'Rating', color: '#fff'},
            plot_bgcolor: '#2c3e50', // Darker background color
            paper_bgcolor: '#2c3e50', // Darker background color
            width: 1600,  // Adjust the width as needed
            height: 600,  // Adjust the height as needed
        };

        Plotly.newPlot('rating-history-plot', [trace], layout);
    </script>
</body>
</html>
