<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ player.name }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            background-color: #2c3e50; /* Darker background color matching graph's background */
            color: #fff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }
        #rating-history-plot {
            margin-top: 20px;
        }
        h1, p, a {
            color: #fff;
        }
    </style>
    <!-- Add any additional styles or scripts as needed -->
</head>
<body>
    <h1>{{ player.name }}</h1>
    <div class="game-container">

        <!-- Add more content to display specific player statistics -->
        <!-- For example: -->
        <!-- <p>Player Name: {{ player_name }}</p> -->
        <!-- <p>Player Score: {{ player_score }}</p> -->
        <!-- <p>Other Stats: {{ other_stats }}</p> -->

        <!-- Plot the player's rating history -->

        <div id="rating-history-plot"></div>
        <div id="mu-history-plot"></div>
        <button id="toggleButton" onclick="togglePlots()">Toggle Plots</button>

        <!-- Table for Player Details -->
        <table style="width:50%; margin-top:20px; color:#fff; border-collapse: collapse;">
            <tr>
                <td style="text-align:right;"><strong>Number of Challengers:</strong></td>
                <td>{{ player.num_challengers }}</td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>Win Rate:</strong></td>
                <td>{{ player.win_rate }}</td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>Mean Score:</strong></td>
                <td>{{ player.mu }}</td>
            </tr>
            <tr>
                <td style="text-align:right;"><strong>Standard Deviation:</strong></td>
                <td>{{ player.sigma }}</td>
            </tr>
        </table>

        <!-- Table for Win Rate -->
        <table style="width:60%; margin-top:20px; color:#fff; border-collapse: collapse;">
            <tr>
                <th style="width:40%;">Player</th>
                <th style="width:30%;">Games Played</th>
                <th>Win Rate</th>
            </tr>
            {% for row in win_rate %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>


    <!-- Add script to plot the rating history -->
    <!-- Add a button for toggling plots -->

<script>
    function togglePlots() {
        // Toggle the visibility of the plots
        var ratingPlot = document.getElementById('rating-history-plot');
        var muPlot = document.getElementById('mu-history-plot');

        if (ratingPlot.style.display === 'none') {
            ratingPlot.style.display = 'block';
            muPlot.style.display = 'none';
        } else {
            ratingPlot.style.display = 'none';
            muPlot.style.display = 'block';
        }
        Plotly.Plots.resize(ratingPlot);
        Plotly.Plots.resize(muPlot);
    }

    // Rating History Plot
    var playerRatingHistory = {{ player.ratings | tojson }};

    var traceRating = {
        x: Array.from({ length: playerRatingHistory.length }, (_, i) => i),
        y: playerRatingHistory,
        type: 'line',
        mode: 'lines+markers',
        marker: { color: '#fff' }, // Blue color
    };

    var minLast30Entries = Math.min(...playerRatingHistory.slice(-30));
    var maxLast30Entries = Math.max(...playerRatingHistory.slice(-30));
    var rangeLast30Entries = maxLast30Entries - minLast30Entries;
    var minY = minLast30Entries - 0.05 * rangeLast30Entries;
    var maxY = maxLast30Entries + 0.05 * rangeLast30Entries;
    var minX = Math.max(0, playerRatingHistory.length - 30);
    var maxX = playerRatingHistory.length - 1;

    var layoutRating = {
        xaxis: {
            title: 'Game Number',
            color: '#fff',
            range: [minX, maxX],
        },
        yaxis: {
            title: 'Rating',
            color: '#fff',
            range: [minY, maxY],
        },
        plot_bgcolor: '#2c3e50', // Darker background color
        paper_bgcolor: '#2c3e50', // Darker background color
        width: 1600, // Adjust the width as needed
        height: 600, // Adjust the height as needed
    };

    var config = {
        toImageButtonOptions: false,
        scrollZoom: true,
        modeBarButtonsToRemove: ['toImage', 'lasso2d', 'select2d', 'toggleSpikelines', 'hoverClosestCartesian', 'hoverCompareCartesian']
    };

    Plotly.newPlot('rating-history-plot', [traceRating], layoutRating, config);

    // Mu History Plot
    var playerMuHistory = {{ player.mus | tojson }};
    var playerSigmaHistory = {{ player.sigmas | tojson }};
    var minHistory = playerMuHistory.map((mu, i) => mu - 3 * playerSigmaHistory[i]);
    var maxHistory = playerMuHistory.map((mu, i) => mu + 3 * playerSigmaHistory[i]);

    var traceMin = {
        x: Array.from({ length: playerMuHistory.length }, (_, i) => i),
        y: minHistory,
        type: 'scatter',
        mode: 'lines', // Remove markers
        line: { color: 'rgba(0, 0, 0, 0)', width: 2 }, // Set line color and width
        fill: 'tonexty',
        fillcolor: 'rgba(255, 255, 255, 0.3)',
        showlegend: false,
    };

    var traceMax = {
        x: Array.from({ length: playerMuHistory.length }, (_, i) => i),
        y: maxHistory,
        type: 'scatter',
        mode: 'lines', // Remove markers
        line: { color: 'rgba(0, 0, 0, 0)', width: 2 }, // Set transparent line color and width
        showlegend: false,
    };

    var minLast30EntriesMu = Math.min(...minHistory.slice(-30));
    var maxLast30EntriesMu = Math.max(...maxHistory.slice(-30));
    var rangeLast30EntriesMu = maxLast30EntriesMu - minLast30EntriesMu;
    var minYMu = minLast30EntriesMu - 0.05 * rangeLast30EntriesMu;
    var maxYMu = maxLast30EntriesMu + 0.05 * rangeLast30EntriesMu;
    var minXMu = Math.max(0, playerMuHistory.length - 30);
    var maxXMu = playerMuHistory.length - 1;

    var layoutMu = {
        xaxis: {
            title: 'Game Number',
            color: '#fff',
            range: [minXMu, maxXMu],
        },
        yaxis: {
            title: 'Rating',
            color: '#fff',
            range: [minYMu, maxYMu],
        },
        plot_bgcolor: '#2c3e50', // Darker background color
        paper_bgcolor: '#2c3e50', // Darker background color
        width: 1600, // Adjust the width as needed
        height: 600, // Adjust the height as needed
    };

    Plotly.newPlot('mu-history-plot', [traceMax, traceMin], layoutMu, config);

    // Initially hide the mu plot
    document.getElementById('mu-history-plot').style.display = 'none';
</script>

<!--    <script>-->
<!--        var playerRatingHistory = {{ player.ratings | tojson }};-->

<!--        var traceRating = {-->
<!--            x: Array.from({ length: playerRatingHistory.length }, (_, i) => i),-->
<!--            y: playerRatingHistory,-->
<!--            type: 'line',-->
<!--            mode: 'lines+markers',-->
<!--            marker: {color: '#fff'}, // Blue color-->
<!--        };-->

<!--        var minLast30Entries = Math.min(...playerRatingHistory.slice(-30));-->
<!--        var maxLast30Entries = Math.max(...playerRatingHistory.slice(-30));-->
<!--        var rangeLast30Entries = maxLast30Entries-minLast30Entries;-->
<!--        var minY = minLast30Entries-0.05*rangeLast30Entries;-->
<!--        var maxY = maxLast30Entries+0.05*rangeLast30Entries;-->
<!--        var minX = Math.max(0, playerRatingHistory.length - 30);-->
<!--        var maxX = playerRatingHistory.length - 1;-->

<!--        var layout = {-->
<!--            title: {-->
<!--                text: "{{ player.name }}",-->
<!--                font: {-->
<!--                    family: 'Arial, sans-serif',-->
<!--                    size: 24, // Adjust the font size as needed-->
<!--                    color: '#fff',-->
<!--                    weight: 'bold',-->
<!--                },-->
<!--            },-->
<!--            xaxis: {-->
<!--                title: 'Game Number',-->
<!--                color: '#fff',-->
<!--                range: [minX, maxX],-->
<!--            },-->
<!--            yaxis: {-->
<!--                title: 'Rating',-->
<!--                color: '#fff',-->
<!--                range: [minY, maxY],-->
<!--            },-->
<!--            plot_bgcolor: '#2c3e50', // Darker background color-->
<!--            paper_bgcolor: '#2c3e50', // Darker background color-->
<!--            width: 1600,  // Adjust the width as needed-->
<!--            height: 600,  // Adjust the height as needed-->
<!--        };-->

<!--        var config = {-->
<!--            toImageButtonOptions: false,-->
<!--            scrollZoom: true,-->
<!--            modeBarButtonsToRemove: ['toImage', 'lasso2d', 'select2d', 'toggleSpikelines', 'hoverClosestCartesian', 'hoverCompareCartesian']-->
<!--        };-->

<!--        Plotly.newPlot('rating-history-plot', [traceRating], layout, config);-->
<!--    </script>-->

<!--    <script>-->
<!--        var playerMuHistory = {{ player.mus | tojson }};-->
<!--        var playerSigmaHistory = {{ player.sigmas | tojson }};-->
<!--        var minHistory = playerMuHistory.map((mu, i) => mu - 3 * playerSigmaHistory[i]);-->
<!--        var maxHistory = playerMuHistory.map((mu, i) => mu + 3 * playerSigmaHistory[i]);-->

<!--        var traceMin = {-->
<!--            x: Array.from({ length: playerMuHistory.length }, (_, i) => i),-->
<!--            y: minHistory,-->
<!--            type: 'scatter',-->
<!--            mode: 'lines', // Remove markers-->
<!--            line: { color: 'rgba(0, 0, 0, 0)', width: 2 }, // Set line color and width-->
<!--            fill: 'tonexty',-->
<!--            fillcolor: 'rgba(255, 255, 255, 0.3)',-->
<!--            name: 'Player Ratings'-->
<!--        };-->

<!--        var traceMax = {-->
<!--            x: Array.from({ length: playerMuHistory.length }, (_, i) => i),-->
<!--            y: maxHistory,-->
<!--            type: 'scatter',-->
<!--            mode: 'lines', // Remove markers-->
<!--            line: { color: 'rgba(0, 0, 0, 0)', width: 2 }, // Set transparent line color and width-->
<!--            name: 'Player Mu'-->
<!--        };-->

<!--        var minLast30Entries = Math.min(...minHistory.slice(-30));-->
<!--        var maxLast30Entries = Math.max(...maxHistory.slice(-30));-->
<!--        var rangeLast30Entries = maxLast30Entries-minLast30Entries;-->
<!--        var minY = minLast30Entries-0.05*rangeLast30Entries;-->
<!--        var maxY = maxLast30Entries+0.05*rangeLast30Entries;-->
<!--        var minX = Math.max(0, playerMuHistory.length - 30);-->
<!--        var maxX = playerMuHistory.length - 1;-->

<!--        var layout = {-->
<!--            title: {-->
<!--                text: "{{ player.name }}",-->
<!--                font: {-->
<!--                    family: 'Arial, sans-serif',-->
<!--                    size: 24, // Adjust the font size as needed-->
<!--                    color: '#fff',-->
<!--                    weight: 'bold',-->
<!--                },-->
<!--            },-->
<!--            xaxis: {-->
<!--                title: 'Game Number',-->
<!--                color: '#fff',-->
<!--                range: [minX, maxX],-->
<!--            },-->
<!--            yaxis: {-->
<!--                title: 'Rating',-->
<!--                color: '#fff',-->
<!--                range: [minY, maxY],-->
<!--            },-->
<!--            plot_bgcolor: '#2c3e50', // Darker background color-->
<!--            paper_bgcolor: '#2c3e50', // Darker background color-->
<!--            width: 1600,  // Adjust the width as needed-->
<!--            height: 600,  // Adjust the height as needed-->
<!--        };-->

<!--        var config = {-->
<!--            toImageButtonOptions: false,-->
<!--            scrollZoom: true,-->
<!--            modeBarButtonsToRemove: ['toImage', 'lasso2d', 'select2d', 'toggleSpikelines', 'hoverClosestCartesian', 'hoverCompareCartesian']-->
<!--        };-->

<!--        Plotly.newPlot('rating-history-plot', [traceMax, traceMin], layout, config);-->
<!--    </script>-->
</body>
</html>
